.DS_Store
.idea
*.log
tmp/

/firmware/target
/firmware/board/target
/result
/.direnv

/macropad/macropad-backups/
/macropad/production
/macropad/output
/macropad/bom

/woodox/woodox-backups/
/woodox/production
/woodox/output
/woodox/bom

*.lck

*auto_saved_files*
*_autosave*

*-backups/
