.DS_Store
.idea
*.log
tmp/

/target
/board/target
/result
/.direnv

/hardware/macropad/macropad-backups/
/hardware/macropad/production
/hardware/macropad/output
/hardware/macropad/bom

/hardware/woodox/woodox-backups/
/hardware/woodox/production
/hardware/woodox/output
/hardware/woodox/bom

*.lck

*auto_saved_files*
*_autosave*

*-backups/
.history/
.history_trim/
